@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}
@import "./variable";
img {
    width: 100%;
    height: 100%;
}
nav.menu {
    list-style-type: none;
    & ul {
        list-style-type: none;
        & li {
            display: inline-block;
            margin-left: 60px;
            & a {
                font-size: 16px;
                color: $text-menu;
                font-weight: 700;
                text-transform: uppercase;
                &:hover {
                    color: $background-logo;
                }
            }
        }
    }
}
.menu-mobie {
    display: none;
}
.des p {
    font-size: 14px;
    line-height: 39px;
    color: $des;
}
h2.title {
    font-size: 21px;
    font-weight: 400;
    line-height: 22px;
    color: $title-h2;
    text-align: center;
}
#main-nav {
    position: fixed;
    z-index: 10;
    width: 100%;
    &.active {
        background-color: $title-h1;
        width: 100%;
        box-shadow: rgb(50 50 93 / 31%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
    }
    & .header {
        align-content: center;
        align-items: center;
        & .header-logo {
            & .image {
                clip-path: circle(50% at 50% 28%);
                background-color: $background-logo;
                padding: 45px;
            }
        }
        & .header-menu {
            & a#navigation {
                display: none;
            }
        }
    }
}
#header{
    margin-bottom: 100px;
}
#voyager-day-pack {
    margin-bottom: 100px;
    position: relative;
    & h1.title {
        position: absolute;
        font-size: 48px;
        color: $title-h1;
        line-height: 22px;
        font-weight: 700;
        z-index: 5;
        bottom: 55%;
        left: 32%;
        letter-spacing: 10px;
    }
    & .day {
        align-content: center;
        align-items: center;
        & .voyager {
            & .image {
                margin-right: -360px;
            }
        }
        & .daypack {
            & .daypack-cont {
                align-content: center;
                align-items: center;
                margin-right: 160px;
                border: 3px solid $more-border;
                
                & .des {
                    position: relative;
                    & a.more {
                        padding: 40px;
                        background-color: $title-h1;
                        position: absolute;
                        right: 30%;
                        top: 90%;
                    }
                }
            }
        }
    }
}
#driffter-dopp-kit {
    & h1.title {
        text-transform: uppercase;
        position: absolute;
        font-size: 48px;
        font-weight: 800;
        line-height: 22px;
        letter-spacing: 10px;
        z-index: 6;
        top: 40%;
        right: 30%;
        color: $title-h1;
    }
    background-color: $background;
    padding: 100px 0;
    position: relative;
    & .dopp {
        align-content: center;
        align-items: center;
        & .driffter {
            z-index: 2;
            position: relative;
            & h3 {
                z-index: -1;
                left: 25%;
                top: -10%;
                position: absolute;
                font-size: 23px;
                font-weight: 800;
                text-transform: uppercase;
                letter-spacing: 10px;
                color: $title-navy;
            }
            & .driffter-cont {
                align-content: center;
                align-items: center;
                border: 3px solid $more-border;
                margin-left: 160px;
                & .title {
                    padding: 30px;                  
                }
                & .des {
                    padding: 30px;
                    position: relative;
                    & a.more {
                        padding: 40px;
                        background-color: $background;
                        position: absolute;
                        right: 30%;
                        & i.fa {
                            color: $des;
                            font-size: 40px;
                        }
                    }
                }
            }
        }
        & .kit {
            & .image {
                margin-left: -360px;
            }
        }
    }
}

#tanner-collection {
    padding: 200px 0 210px 0;
    & h1.title {
        font-size: 60px;
        line-height: 62px;
        text-transform: uppercase;
        font-weight: 800;
        text-align: center;
        letter-spacing: 10px;
        margin-bottom: 30px;
    }
    & .nany-pepper {
        text-align: right;
        position: relative;
        & p {
            font-weight: 500;
            font-size: 20px;
            text-transform: uppercase;
            background-color: $background-text;
            display: inline-block;
            padding-right: 160px;
            padding-left: 5px;
            &::before {
                content: "";
                width: 150px;
                height: 2px;
                background-color: $text-menu;
                position: absolute;
                top: 45%;
                right: 37%;
            }
        }
    }
    & .nomal-duffle {
        align-content: center;
        align-items: center;
        & .nomal {
            position: relative;
            & h4.number {
                position: absolute;
                top: -25px;
                left: 0;
                &::after {
                    content: "";
                    width: 100px;
                    height: 3px;
                    background-color: $number;
                    position: absolute;
                    top: 50%;
                    left: 95%;
                }
            }
        }
        & .duffle {
            padding-left: 30px;
            padding-right: 100px;
            position: relative;

            & .duffle-cont {
                &:before {
                    content: "";
                    height: 75px;
                    width: 2px;
                    background-color: $text-menu;
                    position: absolute;
                    top: -66px;
                    left: 34px;
                }
                &:after {
                    content: "";
                    height: 100px;
                    width: 2px;
                    background-color: $text-menu;
                    position: absolute;
                    top: 210px;
                    left: 25px;
                    z-index: 5;
                }
                & .image {
                    margin-top: 60px;
                    & img {
                        width: 160px;
                        height: auto;
                    }
                }
            }
        }
    }
    & .spruke-pepper {
        margin-top: -70px;
        margin-bottom: 50px;

        & .spruke {
            &::before {
                content: "";
                width: 2px;
                height: 120px;
                position: absolute;
                background-color: $text-menu;
                top: -110px;
                left: 118px;
            }
            align-self: flex-end;
            padding-left: 80px;
            & .spruke-cont {
                & h3.title {
                    background-color: $background-text;
                    text-align: center;
                    padding-bottom: 14px;
                    font-size: 20px;
                }
                & .des {
                    padding-left: 50px;
                }
            }
        }
        & .pepper {
            & .image {
                padding-right: 100px;
            }
        }
    }
    & .field-camara-bag {
        & .field {
            position: relative;
            z-index: 2;
            & h4.number {
                position: absolute;
                right: 0;
                top: -24px;
            }
        }
        & .bag {
            & .bag-cont {
                padding-left: 15px;
                padding-top: 20px;
            }
        }
    }
    & .voyager-pack {
        align-content: center;
        align-items: center;
        & .voyager {
            & .title-voyager {
                padding-left: 60px;
                & h1.title {
                    font-size: 60px;
                    line-height: 69px;
                    text-shadow: 2px 10px 8px #ecedee;
                    color: $title-h1;
                    font-weight: 400;
                }
            }
        }
        & .pack {
            position: relative;
            z-index: 1;
            & h4.number {
                position: absolute;
                z-index: 2;
                right: 0;
                top: -100px;
            }
            & .image {
                & img {
                    margin-top: -70px;
                    z-index: -1;
                }
            }
        }
    }
    & .image-box {
        margin-top: -250px;

        & .box {
            align-self: flex-end;
             & .image {
                padding: 5px;

            }
        }
        & .thumbnail {
            margin-bottom: 0;
        }
    }
}

h3.title {
    font-size: 26px;
    line-height: 10px;
    font-weight: 800;
    letter-spacing: 3px;
    text-transform: uppercase;
}
a.read-more {
    font-size: 12px;
    line-height: 10px;
    font-weight: 800;
    text-transform: uppercase;
    color: $text-menu;
}
h4.number {
    font-size: 60px;
    font-weight: 800;
    line-height: 22px;
    color: $number;
    letter-spacing: 20px;
    z-index: 2;
}
#footer {
    background-color: $background;
    padding: 50px;
    & .footer-container {
        & .logo-footer {
            text-align: center;
            & .image {
                & img {
                    height: 77px;
                    width: auto;
                }
            }
        }
        & .menu-footer {
            text-align: center;
            & nav.menu {
                & ul {
                    & li {
                        margin-left: 30px;
                        & a {
                            font-size: 15px;
                            font-weight: 800;
                            line-height: 22px;
                        }
                    }
                }
            }
        }
        & .address {
            & a {
                font-size: 20px;
                line-height: 32px;
                display: block;
                color: $text-menu;

                &:hover {
                    font-weight: 800;
                    color: $background-logo;
                }
            }
        }
        & .email {
            & h1.title {
                font-size: 20px;
                font-weight: 800;
                text-transform: uppercase;
                margin-top: 0;
                margin-bottom: 25px;
            }
                & input#email {
                    background-color: $title-h1;
                    padding: 10px 20px;
                }
                & input[type="submit"] {
                    background-color: $text-menu;
                    color: $title-h1;
                    padding: 10px;
                }
            
        }
    }
    & .copyright-container {
        & .copyright {
            & p {
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 400;
            }
        }
        & .social-network {
            & nav.socials {
                & ul {
                    list-style-type: none;
                    & li {
                        display: inline-block;
                        margin-right: 20px;
                        text-transform: lowercase;
                        & a {
                            font-size: 20px;
                            line-height: 22px;
                            font-weight: 400;
                            color: $text-menu;
                            &:hover {
                                color: $background-logo;
                                font-weight: 800;
                            }
                        }
                    }
                }
            }
        }
    }
}
