$background-logo: #b8a47e;
$text-menu:#000000;
$title-header:#292929;
$more-border:#b8a47e;
$title-h1:#ffffff;
$title-h2:#b5bda4;
$des:#b3b3b3;
$background:#ededed;
$title-navy:#afafaf;
$title-tanner:#383838;
$number:#969696;
$background-text:#e1d9c9;
